{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "paths": {
      "@/*": ["src/*"]
    },
    "target": "es2016",
    "baseUrl": "src"
  },
  "module": {
    "type": "commonjs"
  }
}
